# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Distribution / Packaging
build/
dist/
*.egg-info/

# Unit Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
